<div class="home">
  <app-navbar></app-navbar>
  <div class="content">
    <div class="hello-block first-block info-block">
      <h4>
        Привет<br>
        Борис!
      </h4>
      <div class="hello-img">
        <img src="assets/img/hello.png" alt="hello">
      </div>
    </div>
    <div class="hello-block info-block">
      <h4>
        Привет<br>
        Борис!
      </h4>
      <div class="hello-img">
        <img src="assets/img/hello.png" alt="hello">
      </div>
    </div>
    <div class="hello-block info-block">
      <h4>
        Привет<br>
        Борис!
      </h4>
      <form action="https://google.com">
        <div class="hello-img">
          <img src="assets/img/hello.png" alt="hello">
        </div>
      </form>
    </div>
    <div class="hello-block info-block">
      <h4>
        Привет<br>
        Борис!
      </h4>
      <form action="https://google.com">
        <div class="hello-img">
          <img src="assets/img/hello.png" alt="hello">
        </div>
      </form>
    </div>
    <div class="hello-block info-block">
      <h4>
        Привет<br>
        Борис!
      </h4>
      <form action="https://google.com">
        <div class="hello-img">
          <img src="assets/img/hello.png" alt="hello">
        </div>
      </form>
    </div>
  </div>
</div>


