<div class="home">
  <app-navbar></app-navbar>

  <div class="content first-block">
    <div class="hello-block info-block">
      <h4>
        Привет<br>
        Борис!
      </h4>
      <div class="hello-img">
        <img src="assets/img/hello.png" alt="hello">
      </div>
    </div>
    <div class="important-targets info-block">
      <h4>
        Важные цели
      </h4>
      <div class="mini-target">

      </div>
    </div>
    <div class="charts">
      <p-chart type="pie" [data]="data"></p-chart>
    </div>
  </div>
</div>
