<div class="nav">
  <ul class="first-group">
    <li class="nav-item">
      <img src="assets/img/vtb-logo.png" alt="vtb-logo" class="vtb-logo"/>
    </li>
    <li class="nav-item">
      <div class="profile">

      </div>
    </li>
    <li class="nav-item">
      <form action="https://google.com">
        <button class="plus-button" mat-fab color="primary">
          <span class="material-icons">add</span>
        </button>
      </form>
    </li>
  </ul>
  <ul class="center-group">
    <li class="nav-item">
      <a class="nav-link active" href="#">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
  </ul>
  <ul class="last-group">
    <li class="nav-item">

      <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
        <mat-icon>assessment</mat-icon>
      </button>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
  </ul>
</div>
