.home{
  display: flex;
}

.hello-block{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin:0.5rem;
  height: 170px;
}

.hello-img img{
  width:160px;
}

@media (max-width: 576px) {
  .home{
    flex-direction: column;
  }
  .hello-block{
    margin-top: 90px;
    z-index: 2;
  }
  .content{
    z-index: 2;
    overflow: scroll;
    height: 100vh;
  }
}
