
.navbar .container-fluid, .navbar-expand-lg{
  background-color: aqua;
  height: 100vh;
}
.nav {
  background-color: white;
  height: 97vh;
  display: flex;
  border-radius: 7px;
  margin: 1vh;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
}

.vtb-logo{
  width: 56px;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.profile{
  width: 56px;
  height: 56px;
  background-color: antiquewhite;
  border-radius: 5px;
}


.mat-fab{
  margin: 5px 5px 0 0 ;
  background-color: white;

}
.mat-fab:hover{
  background-color: #009FDF;
  color: white;
}


ul{
  list-style: none;
  padding: 0;
}

body {
  background-color: #d8d4d4;
}
