<div class="login-block">
  <img src="../../../assets/img/vtb-logo.png" alt="vtb-logo" class="vtb-logo"/>
  <form name="form" [formGroup]="form" (submit)="onSubmit()" #f="ngForm">
    <span class="title-target">Авторизация</span>
    <span class="p-float-label">
      <input id="username" type="email" pInputText formControlName="username" placeholder="Номер телефона" required>
    </span>

    <span class="p-float-label">
      <input id="password" type="password" pInputText formControlName="password" placeholder="Пароль" required>
    </span>

    <button pButton pRipple type="button" label="Войти" class="p-button-rounded" type="submit"></button>

    <p>Нет аккаунта?</p>
    <button pButton pRipple type="button" label="Зарегистрироваться" class="p-button-rounded" routerLink="/register"></button>
  </form>
</div>
