<div class="content">
    <div class=" first-block">
      <div class="hello-block info-block p-card">
        <h1>
          Привет,<br>
          {{ profileData.name }}!
        </h1>
        <div class="hello-img">
          <img src="../../../assets/img/hello.png" alt="hello">
        </div>
      </div>
      <div class="important-targets card info-block p-card">
        <h2>
          Цели
        </h2>
        <p-scrollPanel [style]="{width: '100%', height: '65vh'}" styleClass="custombar1">
          <p style="width: 100%">
            <app-target  *ngFor="let target of targets; index as i;" [targetInfo]="target"></app-target>
          </p>
        </p-scrollPanel>
      </div>

    </div>

    <div class="graphics p-card info-block">
      <p-carousel [value]="basicData" [numVisible]="1" [numScroll]="2" [circular]="false" [responsiveOptions]="responsiveOptions">
        <ng-template pTemplate="header">
          <h5></h5>
        </ng-template>
        <ng-template let-product pTemplate="item">
          <div class="product-item">
            <div class="product-item-content">
              <div class="mb-3">
                <div class="currency-graphic">
                  <div class="card">
                    <span class="title-target">{{product.name}}</span>
                    <p-chart type="line" [data]="product.other" ></p-chart>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>
</div>
