<div class="navi">
  <ul class="first-group">
    <div class="logo-block">
      <li class="nav-item">
        <img src="../../../assets/img/vtb-logo.png" alt="vtb-logo" class="vtb-logo"/>
      </li>
    </div>
    <div class="profile-add-block">
      <li class="nav-item">
        <div class="profile">
          <p-avatar icon="pi pi-user" size="large"  [style]="{'background-color':'#2196F3', 'color': '#ffffff'}" shape="circle"></p-avatar>
        </div>
      </li>
      <li class="nav-item">
          <button class="plus-button"  routerLink="/add-target" routerLinkActive="active-link" mat-fab>
            <span class="material-icons">add</span>
          </button>
      </li>
    </div>

  </ul>
  <ul class="center-group">
    <li class="nav-item">
        <button class="home-button" routerLink="/home" routerLinkActive="active-link-center" mat-fab >
          <span class="material-icons">grid_view</span>
        </button>
    </li>
    <li class="nav-item">
        <button class="settings-button" routerLink="/settings" routerLinkActive="active-link-center" mat-fab>
          <span class="material-icons">settings</span>
        </button>
    </li>
  </ul>
  <ul class="last-group">
    <li class="nav-item">
        <button class="logout-button" mat-fab>
          <span class="material-icons">logout</span>
        </button>
    </li>
    <li class="nav-item">
        <button class="instruction-button" routerLink="/target-info" mat-fab>
          <span class="material-icons">question_mark</span>
        </button>
    </li>
  </ul>
</div>

