
.navbar .container-fluid, .navbar-expand-lg{
  background-color: aqua;
  height: 100vh;
}
.navi {
  background-color: white;
  border-radius: 7px;
  margin: 0.5rem;
  height: 98vh;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 11vh;
  min-width: 11vh;
}
.profile-add-block{
  display: block;
}

.vtb-logo{
  width: 56px;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.logo-block{
  height: 56px;
}

.profile{
  width: 56px;
  height: 56px;
  background-color: antiquewhite;
  border-radius: 5px;
}


.mat-fab{
  margin: 5px 0 5px 0 ;
  background-color: white;
  box-shadow: none;
  color: #0A2973;
}
.mat-fab:hover{
  background-color: #009FDF;
  color: white;
}

.first-group .mat-fab{
  box-shadow: none;
  color: #0A2973;
  border-style: solid;
  background-color: white;
  margin-top: 1rem;
}

.first-group .mat-fab:hover{
  background-color: #0A2973;
  color: white;
  border-color: #0A2973;
}


ul{
  list-style: none;
  padding: 0;
}



@media (max-width: 576px) {
  .navi{
    margin: 0;
    height: 97vh;
    background-color: #E5E5E5;
    display: flex;
    align-content: space-between;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    max-width: none;
    min-width: 0;
    z-index: 1;
  }
  .first-group{
    display: flex;
    justify-content: space-between;
    align-content: space-around;
    align-items: center;
    padding: 1rem;
    z-index: 3;
    background-color: #E5E5E5EB;
    margin: 0;
  }
  .center-group{
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    background-color: #009FDF;
    border-radius: 2rem;
    padding: 7px 0 7px 0;
    z-index: 3;
  }
  .last-group{
    display: none;
  }
  .center-group .mat-fab{
    color: white;
    background-color: #009FDF;
    box-shadow: none;
  }

  .center-group .mat-fab:hover{
    background-color: #0A2973;
  }

  .first-group .mat-fab{
    box-shadow: none;
    color: #0A2973;
    border-style: solid;
    background-color: #E5E5E5;
    margin: 0 1rem 0 0;

  }

  .first-group .mat-fab:hover{
    box-shadow: none;
    background-color: #0A2973;
    border-style: solid;
    color: white;
    margin-right: 1rem;
    border-color: #0A2973;
  }

  .logo-block{

  }

  .profile-add-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:40%;
    flex-direction: row-reverse;
  }

  .mat-fab{
    margin: 0 ;
    background-color: white;
  }
}
