/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;

}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #E5E5E5;
}

.info-block{
  background-color: white;
  border-radius: 7px;
  margin: 0.5rem;
}

body{
  overflow: hidden;
}
@media (min-width: 576px) {

}


@media (max-width: 576px) {
  app-navbar{
    width: 100%;
    position: absolute;
  }
}

