<p-toast></p-toast>
<div class="login-block">
  <img src="../../../assets/img/vtb-logo.png" alt="vtb-logo" class="vtb-logo"/>
  <form name="form" [formGroup]="form" (submit)="onSubmit()" #f="ngForm">
    <span class="title-target">Регистрация</span>
    <span class="p-float-label">

      <p-inputMask formControlName="username" placeholder="+7 999 999-99-99" mask="+7 999 999-99-99" ></p-inputMask>
    </span>

    <span class="p-float-label">
      <input id="password" type="password" pInputText formControlName="password" placeholder="Пароль" required>
    </span>

    <button pButton pRipple type="button" label="Зарегистрироваться" class="p-button-rounded" type="submit"></button>

    <p>Уже зарегистрированы?</p>
    <button pButton pRipple type="button" label="Войти" class="p-button-rounded" routerLink="/auth"></button>
  </form>
</div>
